body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    justify-content: space-between;
    background-color: #05DBF2;
    font-family: "Arial", "sans-serif";
}

.header {
    white-space: nowrap;
    padding: 2vh;
    text-align: center;
    border-radius: 1vw;
    background-color: #169EF2;
    font-family: "Bungee Shade", "cursive";
    font-size: 48px;
}

.playRound {
    display: flex;
    justify-content: center;
    text-align: center;

}

.playerChoice,
.computerChoice {
    margin: 0vh 3vw;
}

.playerScore,
.computerScore {
    margin-top: 2vh;
    font-size: 2vh;
}

.gameDashboard,
.newGame {
    align-self: center;
    text-align: center;
    padding: 2vh;
    border-radius: .5vh;
    background-color: #F2A007;
    font-size: 2vh;
}

.newGame,
button {
    cursor: pointer;
}

.playerOptions {
    display: flex;
    justify-content: center;
}

.playerSymbol,
.computerSymbol,
button {
    padding: 2vh 8vw;
    font-size: 5vh;
    border-radius: 2vw;
    background-color: grey;
}

.playerSymbol,
.computerSymbol {
    margin: auto;
    border: 2px solid black;
}

button {
    margin: 0vw 2vw;
    border: 3px solid #F2A007;
    box-shadow: 0 4px #a8a8a8;
}

@media (hover:hover) and (pointer:fine) {
    button:hover {
        background-color: rgb(87, 87, 87);
    }
    .newGame:hover {
        background-color: #c48106;
    }
}

button:active {
    transform: translateY(4px);
    border-bottom: 2px solid gold;
    border-right: 2px solid gold;
    box-shadow: 0 2px #686868;
}

.footer {
    padding: 2vh;
    border-radius: 1vw;
    background-color: #169EF2;
    text-align: center;
    font-size: 1vh;
}